
body, html {
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
}

/* Fonts And Text*/
@font-face {
    font-family: sketchy;
    src: url('fonts/sketchy.ttf');
}
@font-face {
    font-family: modern;
    src: url('fonts/modern.otf');
}
.bold-text {
    font-weight: bolder;
    font-size: 25px;
}
/*Fonts And Text End*/

/*Website Top Section*/
.title-container {
    width: 500px;
    height: 120px;
    overflow: hidden;
    margin: auto;
}

.top-section {
    position:relative;
    background-color: #6EC6BA;
    height: 150px;
}

.main-title {
    margin: 0;
    text-align: center;
    color: white;
    font-family: sketchy;
    font-size: 100px;
    margin-bottom: 0px;

            
}

.sub-title {
    text-align: center;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    transform: translateY(-50%);
    color: white;
    font-family: modern;
    font-size: 13px;
}
/*Website Top Section End*/

/*Buttons*/
.projects-button {
    width: 155px;
    height: 38px;
    padding-top: 0px;
    margin-right: 20px;
    background-color: #6EC6BA;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    cursor: pointer;
    float: right;
}
.corals-button {
    position: relative;
    width: 120px;
    height: 38px;
    padding-top: 0px;
    margin-right: 20px;
    background-color: #6EC6BA;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    cursor: pointer;
    float: right;

}

.about-me-button {
    width: 150px;
    height: 38px;
    padding-top: 0px;
    background-color: #6EC6BA;
    color: white;
    text-decoration: none;
    font-family: mArial, Helvetica, sans-serif;
    border-bottom-left-radius: 10px;
    text-align: center;
    cursor: pointer;
    float: right;

}
/*Buttons End*/

/*Left Square*/
.left-main-square {
    margin-left: 70px;
    margin-top: 70px;
    width: 700px;
    height: 700px;
    background-color: #fcfcfc;
    border: 10px solid #CCF1D2;
    float: left

}

.main-article {
    margin-left: 40px;
}

.main-article-title {
    margin-left: 0px;
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #474747;
}

.main-article-text {
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#474747;

}
/*Left Square End*/




